html,body {
	font-family: 'Cambria Math', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 24px;
	height: 100%;
}

body {
	margin: 0;
	display: grid;
	grid-template-rows: 5em 497px 1fr 1.5em;
	padding: 0.25em;
	box-sizing: border-box;
}

footer, header {
	text-align: center;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

main {
	display: grid;
	grid-template-columns: 700px 1fr;
}

#circuit {
	background: url("./img/circuit.png");
	height: 497px;
	width: 500px;
	background-repeat: no-repeat;
	position: relative;
	margin: 0 100px
}

#arrow {
	background: url("./img/arrow.png");
	width: 147px;
	height: 23px;
	position: absolute;
	bottom: 91px;
	left: 307px;	
}


#slider {
	transform: rotate(-90deg);
    width: 194px;
    transform-origin: bottom;
	position: absolute;
	bottom: 196px;
	left: 400px;
}

#emf-input {
	width: 3.5em;
}

.rin {
	width: 4.5em;
}

#working > * , #formula > * {
	padding: 0.5em 0;
}

#emf-cont {
	position: absolute;
	top: 265px;
	left: -90px;
}

#r-cont {
	position: absolute;
	top: 374px;
	right: 230px;
}

#r2-value {
	position: absolute;
	top: 200px;
	right: 230px;
}

#calculation {
	margin: 24px;
	font-size: 30px;
}